*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}
.main{
    padding-top: 110px;
}
a{text-decoration: none;}
ul{list-style: none;}
.allcontent{
    background-color: #3f3c3c;
    color: whitesmoke;
}

/* HEADER */
.header{
    position: fixed;
    display: flex;
    height: 110px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    background-color: #8A9A5B;
}
.header-icon img{
    height: 50px;

}
.header-hero a{
    display: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.header-nav ul{
    display: flex;
    text-align: center;
}
.header-nav ul li{
    padding: 0px 15px;
    font-weight: bold;
}
.header-nav a{
    text-align: center;
    color: white;
}
.header-nav a:hover{
    color: #5c663d;
}


/*SECTION IMAGES */
.section-images{
    background-color: #DCDCDC;
    background-image: url(../img/89210.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
    display: grid;
    gap: 30px;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-items: center;
    min-height: 100vh;
}

.section-images .pictures{
    width: 90%;
    max-width: 600px;
    text-align: center;
}
.pictures h3{
    padding: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.pictures img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.836);
}
.picture-green{
    height: 100%;
    padding: 15px;
    background-color: rgba(86, 209, 29, 0.671);
}
.picture-blue{
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 26, 255, 0.671);
}
.picture-white{
    height: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.671);
}
.picture-red{
    height: 100%;
    padding: 15px;
    background-color: rgba(209, 14, 14, 0.671);
}

@media (min-width: 1024px){
    .header{
        flex-direction: row;
        justify-content: space-around;
    }
    .header-hero a{
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    .section-images{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

